.containerShp {
  display: inline-flex;
  position: absolute;
  top: 70vh;
  background-color: white;
  left: 75vh;
  width: auto;
  height: auto;
}

.table {
  border-spacing: 5;
  border-collapse: collapse;
  font-size: 9pt;
}
